@font-face {
  font-family: Roboto;
  src: url(./Font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./Font/Roboto/Roboto-Light.ttf);
}

body {
  background-color: rgb(7, 7, 88);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#logo {
  color: aliceblue;
  align-self: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  margin-left: 12px;
}

.tools {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.description {
  color: #c8c8d4;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 24px;
  margin-right: 24px;
}

h1 {
  color: #7d73fc;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
}

h2 {
  font-size: 32px;
  color: white;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.headline {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
  padding: 50px;
}

button.project {
  margin-top: 15px;
  background-color: #7d73fc;
  padding: 12px;
  color: #edecff;
  width: 100px;
  height: 48px;
  margin-left: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

button.project:hover {
  background-color: #7d73fc;
  color: #fff;
}

button.project:disabled {
  background-color: black;
  color: #c8c8d4;
}

button.project:active {
  background-color: #5e42d7;
  color: #eaeaf6;
}

.mySelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

#language {
  color: #9490ff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

#frameworks {
  color: #9490ff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

#skills {
  color: #9490ff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  color: #f5f5ff;
  height: 214.15px;
}

li {
  margin-top: 7.74px;
}

.story {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.picture {
  align-self: center;
  position: static;
  width: 327px;
  height: 236px;
}

.post {
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  position: static;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-left: 24px;
}

.postDescription {
  color: #dcdce8;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 24px;
}

.code {
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#title {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin-left: 24px;
}

.work {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
  background-image: url(./images/background.png);
  background-size: 375px;
  background-repeat: no-repeat;
  background-position-y: 350px ;
}
