@font-face {
  font-family: Roboto;
  src: url(./Font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./Font/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Inter-bold;
  src: url(./Font/Roboto/Roboto-Bold.ttf);
}

body {
  background-color: rgb(7, 7, 88);
  display: flex;
  flex-direction: column;
  margin: 0%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#logo {
  color: aliceblue;
  align-self: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  margin-left: 12px;
}

.tools {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.description {
  color: #c8c8d4;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 24px;
  margin-right: 24px;
  border-bottom: 1px solid #646369;
  padding-bottom: 48px;
}

h1 {
  color: #7d73fc;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
}

h2 {
  font-size: 32px;
  color: white;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/circles.png);
  background-size: 100% 52%;
  background-repeat: no-repeat;
}

.links {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
  padding: 50px;
}

button {
  margin-top: 15px;
  background-color: #7d73fc;
  padding: 12px;
  color: #edecff;
  width: 100px;
  height: 48px;
  margin-left: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  border: none;
}

button:hover {
  background-color: #7d73fc;
  color: #fff;
}

button:disabled {
  background-color: black;
  color: #c8c8d4;
}

button:active {
  background-color: #5e42d7;
  color: #eaeaf6;
}

.mySelf {
  display: flex;
  flex-direction: column;
  justify-items: left;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 38px;
  border-bottom: 1px solid #646369;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

#language {
  color: #9490ff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

#frameworks {
  color: #9490ff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

#skills {
  color: #9490ff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  color: #f5f5ff;
  height: 214.15px;
}

li {
  margin-top: 7.74px;
}

.story {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.picture {
  align-self: center;
  position: static;
  width: 327px;
  height: 236px;
}

.post {
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  position: static;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-left: 24px;
  margin-top: 70px;
}

.postDescription {
  color: #dcdce8;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 24px;
}

.code {
  color: #f5f5ff;
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: center;
  font-family: "Inter-bold", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.code li {
  border-right: 1px solid #555;
  padding: 12px 24px 12px 24px;
}

li.last {
  border-right: none;
}

#title {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 80px;
  border-bottom: 1px solid #646369;
  padding-bottom: 48px;
}

.work {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-image: url(./images/background.png);
  background-size: 100% 88%;
  background-repeat: no-repeat;
  background-position-y: 100px;
}

.mySelf li {
  padding-left: 32px;
  padding-right: 32px;
}

input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  border: 0;
  min-height: 18px;
  width: 283px;
  padding: 16px;
  height: 16px;
  margin-bottom: 12px;
  margin-right: 12px;
}

textarea {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  border: 0;
  height: 116px;
  width: 283px;
  padding: 16px;
}

fieldset {
  border: 0;
}

.lastButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #3a3837;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  margin-left: 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  height: 40px;
  list-style: none;
  padding: 0;
}

.contact-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 327px;
  height: 29px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.headline.social-media {
  margin-top: 0;
}

.contact__title {
  color: #7d73fc;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-right: 24px;
  margin-bottom: 0;
}

.contactContainer p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #f5f5ff;
  text-align: center;
  padding-right: 24px;
  border-bottom: 0;
}

.workSection {
  margin-top: 20px;
}

#firstWork {
  display: none;
}

@media screen and (min-width: 768px) {
  .headline {
    background-image: none;

  }

  h1 {
    color: #7d73fc;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    letter-spacing: 0.37px;
    margin: 120px 0% 0% 0%;
  }

  h2 {
    font-size: 48px;
    color: white;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
  }

  .description {
    color: #b3bac5;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin: 80px 0px 0px 0px;
    border-bottom: 1px solid #646369;
    padding-bottom: 48px;
  }

  .mySelf {
    width: 448px;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 38px;
    border-bottom: 1px solid #646369;
  }

  #firstWork {
    display: block;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
